#ACCUEIL{
    background-color: rgba(188, 143, 143, 0.129);
}
button{
    width: 180px;
   margin-left: 500px;
   border-radius: 7px;
  

}
#SERVICE{
    background-color: rgba(199, 21, 134, 0.101);

}
.service img{
    border-radius: 50%;
}
h6{
    border-bottom: 1px solid black;
    width: 200px;
  
}
h3{
    border: 1px solid black;
}
.box{
    border: 1px solid black;
    height: 300px;
   
    background-color: rgba(128, 128, 128, 0.188);
   
}
.box p{
    margin-top: 100px;
 
}
.box h2{
    margin-left: 100px;
}
.box a{
    margin-left: 100px;

}

.boss{
    border: 1px solid black;


}

.bosse{
    border: 1px solid black;
    width: 90px;
    margin-top: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.913);
    color: white;
    
  }
  
form{
    width: 600px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 20px;
}
#CONTACT{
    background-color: rgba(128, 128, 128, 0.135);
}
input{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: none;
}
textarea{
    width: 500px;
    border-radius: 20px;
    height: 200px;
}
input[type="submit"]{
    background-color:green ;
    color: white;
    width: 150px;
}
input{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: none;
}
textarea{
    width: 500px;
    border-radius: 20px;
    height: 200px;
}
input[type="submit"]{
    background-color:black ;
    color: white;
    width: 150px;
}
#COMMANDE{
    background-color: rgba(238, 130, 238, 0.135);
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
.boxe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
label{
    color: white;
}